{{#animated-value "definition-slide" use=transition duration=duration }}
{{! BEGIN-SNIPPET definition-slide }}
<div>
  <h2>
     {{moving-word "an"  group=group ~}}
    ·{{moving-word "i"   group=group ~}}
    ·{{moving-word "mat" group=group ~}}e
  </h2>
  <div><em>transitive verb</em></div>
  <div>
    1. To give life to, fill with life.
  </div>
</div>
{{! END-SNIPPET }}
{{/animated-value}}