<div>
  <h2>Far Matching Across Routes</h2>
  <div class="mascots">
    {{#each model as |mascot|}}
      <div class="mascot-card" onclick={{action "visit" mascot }}>
        {{#animated-container}}
          {{#animated-value mascot group="images" use=transition duration=duration}}
            <img class="mascot-card-image" src={{mascot.imageURL}} />
          {{/animated-value}}
        {{/animated-container}}
        <h3>{{mascot.title }}</h3>
      </div>
    {{/each}}
  </div>
</div>
