@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../roboto.ttf) format('truetype');
}

:root {
    --highlightColor: #fd367e;
    --tertiaryColor: #932b77;
    --secondaryColor: #4e1184;
    --primaryColor: #0e1555;
}

header {
    background-color: var(--primaryColor);
    min-height: 3rem;
    border-bottom: 4px solid var(--highlightColor);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

body {
    margin: 0;
    background-color: white;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: var(--primaryColor);
    font-size: 5rem;
}



h1 {
    letter-spacing: 1rem;
    font-size: 10rem;
    font-weight: normal;
    margin: 0;
    color: var(--tertiaryColor);
}

h2 {
    letter-spacing: 1rem;
    font-weight: normal;
    margin: 0;
    color: var(--tertiaryColor);
}


main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moving-word {
    display: inline-block;
    vertical-align: top;
}

.eat-time-control {
    font-size: 1rem;
    top: 40px;
    left: 0;
    right: 0;
    position: absolute;
}

.hljs {
    background-color: inherit;
}
