@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../roboto.ttf) format('truetype');
}

:root {
    --highlightBackgroundColor: #ffd7e5;
    --highlightColor: #fd367e;
    --tertiaryColor: #932b77;
    --secondaryColor: #4e1184;
    --primaryColor: #0e1555;
    --header-height: 30px;
}

header {
    background-color: var(--primaryColor);
    height: var(--header-height);
    border-bottom: 4px solid var(--highlightColor);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

body {
    padding-top: var(--header-height);
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: var(--primaryColor);
    overflow-x: hidden;
}



h1.title-slide {
    letter-spacing: 1rem;
    font-size: 10rem;
    font-weight: normal;
    margin: 0;
    color: var(--tertiaryColor);
}

.definition-slide {
    font-size: 5rem;
}

.definition-slide h2 {
    letter-spacing: 1rem;
    font-weight: normal;
    margin: 0;
    color: var(--tertiaryColor);
}

.biggish {
    font-size: 4rem;
    font-weight: normal;
    margin: 0;
    color: var(--tertiaryColor);
}

.subhead {
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
    color: var(--primaryColor);
}


main {
    min-height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.code {
    display: block;
}

.no-cloning h1 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    font-weight: normal;
    margin: 0;
    color: var(--tertiaryColor);
}

.no-cloning > div {
    position: relative;
}

.no-cloning > div > svg {
    width: 100%;
    position: absolute;
    top: 0;
}



.moving-word {
    display: inline-block;
    vertical-align: top;
}

.hljs {
    font-size: 2.5rem;
    background-color: inherit;
}

.image-quilt {
    font-size: 0;
}

.image-quilt > a {
    display: inline-block;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.side-by-side > div {
    width: 50%;
    height: calc(100vh - var(--header-height));
}

.side-by-side.more-code > div:first-child {
    width: 33%;
}

.side-by-side.more-code > div {
    width: 67%;
}

.side-by-side > div > div {
    width: 100vw;
    transform: scale(0.5);
    height: calc(100vh - var(--header-height));
    margin-top: 25vh;
    transform-origin: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-by-side.unscaled > div > div {
    width: initial;
    transform: initial;
    height: initial;
}

.side-by-side .hljs {
    font-size: 5rem;
}

.side-by-side.unscaled .hljs {
    font-size: 2.5rem;
}


.mascots {
    display: flex;
    flex-wrap: wrap;
}

.mascots .mascot-card {
    margin: 10px;
}

.mascot-card {
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    padding: 30px;
    width: 250px;
    height: 125px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    cursor: pointer;
}

.mascot-card h3 {
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
}

.mascot-card > img, .mascot-card > .animated-container {
    flex-shrink: 0;
}

.mascot-icon {
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    cursor: pointer;
}

.mascot-icon img {
    height: 100%;
}

.mascot-card-image {
    width: auto;
    height: 126px;
}

.mascot-detail-image {
    width: auto;
    height: 250px;
}

.mascot-detail {
    display: grid;
    grid-template-columns: 450px auto;
    grid-template-rows: auto auto;
    grid-template-areas:
          ".      header"
          "left   right";

}

.mascot-detail .image-container {
    grid-area: left;
    display: flex;
    justify-content: center;
}

.mascot-detail .text-container {
    grid-area: right;
}

.mascot-detail h2 {
    grid-area: header;
}


.edge-tray {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 1rem;
    width: 50vw;
    transform: translateX(100%);
    transition: transform 250ms;
    opacity: 0.9;
    z-index: 1;
}

.edge-tray.is-open {
    transform: none;
}

.edge-tray-launcher {
    cursor: pointer;
    position: absolute;
    left: -1.5rem;
    width: 1.5rem;
    bottom: 0;
    text-align: center;
    border: 1px solid black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right-width: 0;
    background-color: #ddd;
}

.edge-tray-panel {
    background-color: #ddd;
    border: 1px solid black;
}

.tutorial {
    padding: 3rem;
    font-size: 1rem;
}

.tutorial h2 {
    display: inline-block;
}

button.tutorial {
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
    border: 1px solid var(--tertiaryColor);
    color: var(--tertiaryColor);
    border-radius: 4px;
    cursor: pointer;
    transition: color 250ms, background-color 250ms;
}
button.tutorial:hover {
    background-color: var(--primaryColor);
    color: var(--highlightColor);
}

.tutorial ul {
    margin: 0;
}


.counter .animated-container {
    font-size: 13rem;
    float: left;
}

.counter button {
    float: left;
    font-size: 3rem;
}

.counter span {
    border: 1px solid var(--highlightColor);
    padding: 2rem;
}

.counter > .animated-container {
    border: 1px solid var(--primaryColor);
    overflow: hidden;
    transform: translateZ(0);
}

.play-favorites {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
          "header header"
          "left   right";

}

.play-favorites .favorites {
    grid-area: left;
}

.play-favorites .others {
    grid-area: right;
}

.play-favorites h2 {
    grid-area: header;
}

.sprite-categories {
    font-size: 2.5rem;
}


.sprite-categories th {
    text-align: left;
    padding: 0.5rem 3rem;
    font-weight: normal;
    background-color: var(--highlightBackgroundColor);
}

.sprite-categories table {
    border-collapse: collapse;
}

.sprite-categories td {
    padding: 0.5rem 3rem;
    font-variant: all-small-caps;
}

.sprite-categories td:first-child {
    padding: 0.5rem 3rem;
    font-variant: initial;
    font-family: courier;
}


.sprite-categories h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}


/* workaround for an ember-animated bug */
.animated-container:before, .animated-container:after {
    display: display;
}
