@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../roboto.ttf) format('truetype');
}

:root {
    --highlightColor: #fd367e;
    --tertiaryColor: #932b77;
    --secondaryColor: #4e1184;
    --primaryColor: #0e1555;
    --header-height: 30px;
}

header {
    background-color: var(--primaryColor);
    height: var(--header-height);
    border-bottom: 4px solid var(--highlightColor);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

body {
    padding-top: var(--header-height);
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: var(--primaryColor);
    font-size: 5rem;
    overflow-x: hidden;
}



h1 {
    letter-spacing: 1rem;
    font-size: 10rem;
    font-weight: normal;
    margin: 0;
    color: var(--tertiaryColor);
}

h2 {
    letter-spacing: 1rem;
    font-weight: normal;
    margin: 0;
    color: var(--tertiaryColor);
}


main {
    min-height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.moving-word {
    display: inline-block;
    vertical-align: top;
}

.hljs {
    background-color: inherit;
}

.image-quilt {
    font-size: 0;
}

.image-quilt > a {
    display: inline-block;
}

.image-quilt > a > img {
    height: 250px;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.side-by-side > div {
    width: 50%;
    height: calc(100vh - var(--header-height));
}

.side-by-side > div > div {
    width: 100vw;
    transform: scale(0.5);
    height: calc(100vh - var(--header-height));
    margin-top: 25vh;
    transform-origin: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mascots {
    display: flex;
    flex-wrap: wrap;
}

.mascots .mascot-card {
    margin: 10px;
}

.mascot-card {
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    padding: 30px;
    width: 250px;
    height: 125px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.mascot-card h3 {
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
}

.mascot-card img {
    height: 100%;
}

.mascot-icon {
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.mascot-icon img {
    height: 100%;
}


.edge-tray {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 1rem;
    width: 50vw;
    transform: translateX(100%);
    transition: transform 250ms;
    opacity: 0.9;
    z-index: 1;
}

.edge-tray.is-open {
    transform: none;
}

.edge-tray-launcher {
    cursor: pointer;
    position: absolute;
    left: -1.5rem;
    width: 1.5rem;
    bottom: 0;
    text-align: center;
    border: 1px solid black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right-width: 0;
    background-color: #ddd;
}

.edge-tray-panel {
    background-color: #ddd;
    border: 1px solid black;
}
