<div class="mascots">
  {{#animated-each mascots use=transition as |mascot|}}
    <div class="mascot-card" {{action "hide" mascot }}>
      <img src={{mascot.imageURL}} />
      <h3>{{mascot.title}}</h3>
    </div>
  {{/animated-each}}
</div>