<div class="tutorial">
  {{! BEGIN-SNIPPET tutorial-04 }}
  <h2>Flexbox Layout: With Better Animation</h2>
  <button class="tutorial" {{action "favRandom"}}>
    Add Random
  </button>
  <div class="mascots" >
    {{#animated-each mascots use=transition duration=200 as |mascot|}}
      {{mascot-card model=mascot
                    onclick=(action "unfav" mascot) }}
    {{/animated-each}}
  </div>
  {{! END-SNIPPET }}
</div>
