<div class="tutorial-01">
  <h2>My Favorite Zoeys and Tomsters</h2>
  <button class="tutorial" {{action "addRandom"}}>Add Random</button>
  <div>
    {{#each mascots as |mascot|}}
      {{mascot-icon model=mascot onclick=(action "unfav" mascot) }}
    {{/each}}
  </div>
</div>