<div class="tutorial">
  {{! BEGIN-SNIPPET tutorial-14 }}
  <h2>Has Content Below</h2>
  <button class="tutorial" {{action "favRandom"}}>
    Add Random
  </button>
  <div>
    {{#animated-each mascots use=transition as |mascot|}}
      {{mascot-icon model=mascot
                    onclick=(action "unfav" mascot) }}
    {{/animated-each}}
  </div>
  <p>
    Tomster was the first of many friendly faces of the Ember project
    and community. Over the years we've dressed and redressed him for
    all sorts of fun projects and reasons. With the addition of his
    sister Zoey, you'll see Ember friends around even more.
  </p>
  {{! END-SNIPPET }}
</div>
