<main>
  <div class="biggish">Ember Animated</div>
  <div class="subhead">https://github.com/ember-animation/ember-animated</div>
  <div class="subhead">A "Glimmerization" of Liquid Fire</div>
</main>