<div class="tutorial play-favorites">
  <h2>Pick your favorites, animated</h2>
  {{! BEGIN-SNIPPET tutorial-21 }}
  <div class="favorites">
    <h3>Favorites</h3>
    {{#animated-each favorites use=transition duration=600 as |mascot|}}
      {{mascot-icon model=mascot
                    onclick=(action "unfav" mascot) }}
    {{/animated-each}}
  </div>

  <div class="others">
    <h3>Others to choose from</h3>
    {{#animated-each others use=transition duration=600 as |mascot|}}
      {{mascot-icon model=mascot
                    onclick=(action "fav" mascot) }}
    {{/animated-each}}
  </div>
  {{! END-SNIPPET }}
</div>
