<main>
  <div class="biggish">Module Unification Names</div>
  <div class="subhead">&#123;{#animated-each}} -> &#123;{#animated::each}}</div>
  <div class="subhead">&#123;{#animated-if}} -> &#123;{#animated::if}}</div>
  <div class="subhead"><em>etc</em></div>
</main>