<div class="edge-tray-launcher" {{action "toggle"}}>
  {{motion-indicator}}
  ⏱{{! <--- there's an emoji here, in case your editor doesn't show it }}
</div>
<div class="edge-tray-panel">
  {{yield}}
</div>
