<main>
  <div class="sprite-categories">
    <h2>Sprite Categories</h2>

    <table>
      <tr>
        <th>Name</th>
        <th>Initial State</th>
        <th>Final State</th>
      </tr>

      <tr>
        <td>inserted</td>
        <td>none</td>
        <td>local</td>
      </tr>

      <tr>
        <td>kept</td>
        <td>local</td>
        <td>local</td>
      </tr>

      <tr>
        <td>removed</td>
        <td>local</td>
        <td>none</td>
      </tr>

      <tr>
        <td>received</td>
        <td>remote</td>
        <td>local</td>
      </tr>

      <tr>
        <td>sent</td>
        <td>local</td>
        <td>remote</td>
      </tr>

    </table>

  </div>
</main>