<main>
  <div class="biggish">Game-Engine-Inspired Principles</div>
  <ul class="subhead">
    <li>Strong separation between app logic and animation layers</li>
    <li>Establish <em>rules</em> and let motions <em>emerge</em></li>
  </ul>

</main>