<div class="image-quilt">
  <img src="../images/steamboat.gif">
  <img src="../images/gromit.gif">
  <img src="../images/sully.gif">
  <img src="../images/mario.gif">
  <img src="../images/birds.gif">
  <img src="../images/mobile.gif">
  <img src="../images/login.gif">
  <img src="../images/minecraft.gif">
  <img src="../images/skyrim.gif">
  <img src="../images/beachball.gif">
  <img src="../images/genie.gif">
  <img src="../images/docs-nav.gif">
  <img src="../images/concurrency.gif">
  <img src="../images/animoji.gif">
</div>