<div class="tutorial">
  {{! BEGIN-SNIPPET tutorial-08 }}
  <h2>Everybody Moving!</h2>
  <button class="tutorial" {{action "favRandom"}}>
    Add Random
  </button>
  <div>
    {{#animated-each mascots use=transition as |mascot|}}
      {{mascot-icon model=mascot
                    onclick=(action "unfav" mascot) }}
    {{/animated-each}}
  </div>
  {{! END-SNIPPET }}
</div>
